@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: rgb(24, 24, 27);
}

.date-day {
    display: flex;
    gap: 35px;
    font-size: 80px;
    font-weight: 500;
    width: 95vw;
    justify-content: space-around;
    margin: 15px;
    margin-top: 10vh;
}

.date {
    color: #FF69B4;
}

.day {
    color: #00FFFF;
}

.time {
    font-size: 120px;
    font-weight: 700;
    width: 95vw;
    margin: 15px;
    display: flex;
    justify-content: center;
    margin-top: 20vh;
    color: rgb(255, 251, 0);
}

@media screen and (max-width: 880px) {
    .date-day {
        flex-direction: column;
        margin-top: 5vh;
    }

    .date-day>* {
        display: flex;
        justify-content: center;
    }
}

@media screen and (max-width: 500px) {
    .date-day {
        font-size: 65px;
    }

    .time {
        font-size: 100px;
    }
}